.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px dashed $grey;
    margin: 25px 0 25px;
    form {
        input{

        }
        button {
            width: 120px;
            border-radius: 0;
        }
    }
}
.title{
    margin: 50px 0px;
}