{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row title">
            <h1>Liste des clients</h1>
        </div>
        <div class="row my-2 d-flex justify-content-center align-items-center">
            <h2>Télecharger un fichier</h2>
            <div>
                {{ form_start(form, {
                        'attr' : {
                            'id' : 'form_import_excel'
                        }
                    }) 
                }}
                {{ form_row(form.file) }}
                    <input type="submit" value="Importer" class="btn btn-primary btn-sm my-2">
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            <div class="scrollable-datatable">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Compte affaire</th>
                                <th>Compte évènement</th>
                                <th>Compte dernière évènement</th>
                                <th>N° Fiche</th>
                                <th>Libellé civilité</th>
                                <th>Prop actuel du véhicule</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>N° et nom de la voie</th>
                                <th>Complément adresse 1</th>
                                <th>Code postal</th>
                                <th>Ville</th>
                                <th>Tél domicile</th>
                                <th>Tél portable</th>
                                <th>Tél job</th>
                                <th>Email</th>
                                <th>Date de mise en circulation</th>
                                <th>Date achat (date de livraison)</th>
                                <th>Date dernier évènement(Veh)</th>
                                <th>Libéllé marque(Mrq)</th>
                                <th>Libéllé modèle (Mod)</th>
                                <th>Version</th>
                                <th>VIN</th>
                                <th>Immatriculation</th>
                                <th>Type prospect</th>
                                <th>Kilometrage</th>
                                <th>Libéllé énergie(Energ)</th>
                                <th>Vendeur VN</th>
                                <th>Vendeur VO</th>
                                <th>Commentaire de facturation (Veh)</th>
                                <th>Type VN VO</th>
                                <th>N° de dossier VN VO</th>
                                <th>Intermediaire de vente VN</th>
                                <th>Date évènement (Veh)</th>
                                <th>Origine évènement (Veh)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Compte affaire</td>
                                <td>Compte évènement</td>
                                <td>Compte dernière évènement</td>
                                <td>N° Fiche</td>
                                <td>Libellé civilité</td>
                                <td>Prop actuel du véhicule</td>
                                <td>Nom</td>
                                <td>Prénom</td>
                                <td>N° et nom de la voie</td>
                                <td>Complément adresse 1</td>
                                <td>Code postal</td>
                                <td>Ville</td>
                                <td>Tél domicile</td>
                                <td>Tél portable</td>
                                <td>Tél job</td>
                                <td>Email</td>
                                <td>Date de mise en circulation</td>
                                <td>Date achat (date de livraison)</td>
                                <td>Date dernier évènement(Veh)</td>
                                <td>Libéllé marque(Mrq)</td>
                                <td>Libéllé modèle (Mod)</td>
                                <td>Version</td>
                                <td>VIN</td>
                                <td>Immatriculation</td>
                                <td>Type prospect</td>
                                <td>Kilometrage</td>
                                <td>Libéllé énergie(Energ)</td>
                                <td>Vendeur VN</td>
                                <td>Vendeur VO</td>
                                <td>Commentaire de facturation (Veh)</td>
                                <td>Type VN VO</td>
                                <td>N° de dossier VN VO</td>
                                <td>Intermediaire de vente VN</td>
                                <td>Date évènement (Veh)</td>
                                <td>Origine évènement (Veh)</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Compte affaire</th>
                                <th>Compte évènement</th>
                                <th>Compte dernière évènement</th>
                                <th>N° Fiche</th>
                                <th>Libellé civilité</th>
                                <th>Prop actuel du véhicule</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>N° et nom de la voie</th>
                                <th>Complément adresse 1</th>
                                <th>Code postal</th>
                                <th>Ville</th>
                                <th>Tél domicile</th>
                                <th>Tél portable</th>
                                <th>Tél job</th>
                                <th>Email</th>
                                <th>Date de mise en circulation</th>
                                <th>Date achat (date de livraison)</th>
                                <th>Date dernier évènement(Veh)</th>
                                <th>Libéllé marque(Mrq)</th>
                                <th>Libéllé modèle (Mod)</th>
                                <th>Version</th>
                                <th>VIN</th>
                                <th>Immatriculation</th>
                                <th>Type prospect</th>
                                <th>Kilometrage</th>
                                <th>Libéllé énergie(Energ)</th>
                                <th>Vendeur VN</th>
                                <th>Vendeur VO</th>
                                <th>Commentaire de facturation (Veh)</th>
                                <th>Type VN VO</th>
                                <th>N° de dossier VN VO</th>
                                <th>Intermediaire de vente VN</th>
                                <th>Date évènement (Veh)</th>
                                <th>Origine évènement (Veh)</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(window).ready(function(){
            new DataTable('#example', {
                scrollX: true,
                autoWidth: true
            });
        })
        function uploadFile() {
            var fileInput = document.getElementById('fileInput');
            var progressBar = document.getElementById('progressBar');
            
            if (fileInput.files.length > 0) {
                var file = fileInput.files[0];
                var formData = new FormData();
                formData.append('file', file);

                $.ajax({
                    url: '/client',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    xhr: function () {
                        var xhr = new XMLHttpRequest();
                        xhr.upload.onprogress = function (e) {
                        if (e.lengthComputable) {
                            var percentage = (e.loaded / e.total) * 100;
                            progressBar.style.width = percentage + '%';
                        }
                        };
                        return xhr;
                    },
                    success: function (response) {
                        // Handle the response here
                        console.log(response);
                    }
                    });
                } else {
                    alert('Veuillez sélectionner un fichier.');
            }
        }
    </script>
{% endblock %}